.div-container{

    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
    background-color: steelblue
}
.card-container{
   
    margin:10px;
    border-radius: 10px;
}
.div-container img {
    height: 500px;
    background-color:rgb(138, 128, 38);
}
.d-color{

}
.titles{
    color: royalblue;
   
}
.times{
    background-color: seagreen;
    padding: 10px ;
    
    
}
.lef-side{
    background-color:bisque;
    padding: 10px 15px;
   
}
.homepage{
    
    margin: 15px 20px;
}
.bodys{
    background-color: bisque;
}
.bg-color{
    background-color: bisque; 
}