body {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.print{
  height: 100vh;
  width: 100vw;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg-green{
  color: green;
}
.bg-aqua{
  background-color: aqua;
}
.homepage{
  background-color: darkolivegreen;
}
.bg-darkkhaki{
  background-color: darkkhaki;
}
.bg-burlywood{
  background-color: burlywood;
}
.text-red{
  color: red;
}

